.infoBlock {
	background: #eff3f7;
	border-radius: 4px;
	margin: 0 0 20px 0;
}
.infoBlock h2 {
	font-size: 26px;
	font-family: "Fira Sans";
	color: #3ba8c0;
	margin: 0;
	border-bottom: 2px solid #3ba8c0;
	padding: 22px;
	display: inline-block;
	line-height: 22px;
}
.imgCircle {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #3ba8c0;
	display: inline-block;
	vertical-align: top;
	margin: 0 30px 0 50px;
	position: relative;
	top: -30px;
}
.imgCircle img {
	width: 150px;
	position: relative;
	top: -50px;
	left: -5px;
}
.userInfoList {

}
.userInfoList li {
	margin: 0 0 6px 0;
}
.userInfoList-work, .userInfoList, .infoBlock-list {
	list-style-type: none;
	padding: 0;
}
.userInfoList {
	width: 400px;
}
.userInfoList-title {
	font-size: 17px;
	font-family: 'Fira Sans Medium';
	color: #4a545d;
	vertical-align: top;
}
.userInfoList-text {
	font-size: 15px;
	font-family: "Fira Sans";
	color: #37424d;
	padding-left: 10px;
	position: relative;
	top: 2px;
}
.userInfoList-work {
	max-width: 230px;
	display: inline-block;
}
.userInfoList-work li {
	display: inline-block;
	border-radius: 2px;
	font-family: 'Proxima Nova Condensed';
	font-size: 14px;
	line-height: 20px;
	color: #FFF;
	padding: 0 12px;
	margin-left: 5px;
	margin-bottom: 8px;
	background-image: -moz-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
}
.no-boxshadow h2 {
	font-weight: normal;
}
.no-boxshadow .userInfoList-title, .no-boxshadow .infoBlock-list p {
	font-weight: bold;
}
.no-boxshadow .menuVert {
	border: 1px solid #999;
}
.no-cssgradients .userInfoList-work li {
	background: #3BA8C0;
}
.infoBlock-list {
	margin: 20px 0 20px 28px;
}
.infoBlock-list li {
	font-size: 15px;
	font-family: "Fira Sans";
	color: #4a545d;
	margin: 0 0 13px 0;
}
.infoBlock-list li .marker {
	width: 80px;
	vertical-align: middle;
	text-align: center;
}
.infoBlock-list li span.sprite {
	display: inline-block;
}
.infoBlock-list li p {
	font-size: 17px;
	margin: 0 0 0 0;
	padding: 0;
}
@media screen and (max-width: 1024px) {
	#main {
		margin-bottom: -80px;
	}
}
@media screen and (max-width: 730px) {
	.userListInfo, .userListInfo .td, .userInfoList-title, .userInfoList-text, .infoBlock .table, .infoBlock .td {
		display: block;
		text-align: center;
	}
	.infoBlock-list {
		padding: 0;
		margin: 0;
	}
	.userInfoList, .infoBlock-list li .marker, .infoBlock-list li {
		width: 100%;
	}
	.infoBlock h2 {
		border-bottom: 0;
		display: block;
		text-align: center;
	}
	.userInfoList-work {
		max-width: 95%;
		display: block;
	}
	.imgCircle {
		top: 0px;
	}
}