.imgWorkList {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0;
}

.imgWorkList li {
  display: inline-block;
  width: 181px;
  margin: 0 15px 20px 15px;
  vertical-align: top;
}
.imgWorkListActive {
  position: relative;
}
.imgWorkListActiveName {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 4px;
  right: 2px;
  z-index: 1;
  border-radius: 6px;
  background: #016ca4;
  background: rgba(1,108,164,.6);
  text-align: center;
  display: none;
}
.imgWorkListActiveName a {
  display: inline-block;
  font-family: "Fira Sans";
  color: #FFF;
  margin-top: 25%;
  border-radius: 6px;
  border: 2px solid #FFF;
  padding: 3px 7px;
  text-decoration: none;
}
.imgWorkListScreen {
  border-radius: 5px;
  border: 2px solid #3ba8c0;
  background: #fff;
  width: 175px;
}
.imgWorkListLink {
  font-size: 13px;
  font-family: "Fira Sans";
  color: rgb(59, 168, 192);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  display: block;
}
.imgWorkList p {
  font-size: 15px;
  font-family: "Fira Sans";
  color: rgb(74, 84, 93);
  line-height: 1.2;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.addWork a {
  background: #edf8fc;
  border: 1px dashed #3ba8c0;
  display: table-cell;
  width: 181px;
  height: 127px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  font-family: "Fira Sans";
  line-height: 1.2;
  font-style: normal;
  text-decoration: none;
  margin: 0 auto;
}
.addWork a p {
  color: rgb(59, 168, 192);
}
#addProject {
  display: none;
  width: 362px;
}
@media screen and (max-width: 730px) {
  .addWorkLink {
    display: inline-block;
  }
  .imgWorkList li {
      text-align: center;
      width: 90%;
  }
  .imgWorkListActive {
    width: 179px;
    margin: 0 auto;
  }
  #addProject {
    width: 300px;
  }
}